# DAON 하계 파이썬 스터디 5회차 과제

#### 1. <파일 저장 형식> 'n회차_이름_과제'으로 저장하여 보내주세요!!(꼭 지켜주세요) 
#### 2. 못 풀고 끄적인 흔적이라도 남겨주셔도 괜찮아요! 나중에 꼭 다시 풀어주세요!!
#### 3. 모든 결과를 출력해 주세요.

In [3]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np

In [23]:
# 데이터 불러오기
df = pd.read_csv('gapminder.tsv', sep='\t')
df

          country continent  year  lifeExp       pop    gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333   779.445314
1     Afghanistan      Asia  1957   30.332   9240934   820.853030
2     Afghanistan      Asia  1962   31.997  10267083   853.100710
3     Afghanistan      Asia  1967   34.020  11537966   836.197138
4     Afghanistan      Asia  1972   36.088  13079460   739.981106
5     Afghanistan      Asia  1977   38.438  14880372   786.113360
6     Afghanistan      Asia  1982   39.854  12881816   978.011439
7     Afghanistan      Asia  1987   40.822  13867957   852.395945
8     Afghanistan      Asia  1992   41.674  16317921   649.341395
9     Afghanistan      Asia  1997   41.763  22227415   635.341351
10    Afghanistan      Asia  2002   42.129  25268405   726.734055
11    Afghanistan      Asia  2007   43.828  31889923   974.580338
12        Albania    Europe  1952   55.230   1282697  1601.056136
13        Albania    Europe  1957   59.280   1476505  1942.284244
14        Albania    Europe  1962   64.820   1728137  2312.888958
15        Albania    Europe  1967   66.220   1984060  2760.196931
16        Albania    Europe  1972   67.690   2263554  3313.422188
17        Albania    Europe  1977   68.930   2509048  3533.003910
18        Albania    Europe  1982   70.420   2780097  3630.880722
19        Albania    Europe  1987   72.000   3075321  3738.932735
20        Albania    Europe  1992   71.581   3326498  2497.437901
21        Albania    Europe  1997   72.950   3428038  3193.054604
22        Albania    Europe  2002   75.651   3508512  4604.211737
23        Albania    Europe  2007   76.423   3600523  5937.029526
24        Algeria    Africa  1952   43.077   9279525  2449.008185
25        Algeria    Africa  1957   45.685  10270856  3013.976023
26        Algeria    Africa  1962   48.303  11000948  2550.816880
27        Algeria    Africa  1967   51.407  12760499  3246.991771
28        Algeria    Africa  1972   54.518  14760787  4182.663766
29        Algeria    Africa  1977   58.014  17152804  4910.416756
...           ...       ...   ...      ...       ...          ...
1674  Yemen, Rep.      Asia  1982   49.113   9657618  1977.557010
1675  Yemen, Rep.      Asia  1987   52.922  11219340  1971.741538
1676  Yemen, Rep.      Asia  1992   55.599  13367997  1879.496673
1677  Yemen, Rep.      Asia  1997   58.020  15826497  2117.484526
1678  Yemen, Rep.      Asia  2002   60.308  18701257  2234.820827
1679  Yemen, Rep.      Asia  2007   62.698  22211743  2280.769906
1680       Zambia    Africa  1952   42.038   2672000  1147.388831
1681       Zambia    Africa  1957   44.077   3016000  1311.956766
1682       Zambia    Africa  1962   46.023   3421000  1452.725766
1683       Zambia    Africa  1967   47.768   3900000  1777.077318
1684       Zambia    Africa  1972   50.107   4506497  1773.498265
1685       Zambia    Africa  1977   51.386   5216550  1588.688299
1686       Zambia    Africa  1982   51.821   6100407  1408.678565
1687       Zambia    Africa  1987   50.821   7272406  1213.315116
1688       Zambia    Africa  1992   46.100   8381163  1210.884633
1689       Zambia    Africa  1997   40.238   9417789  1071.353818
1690       Zambia    Africa  2002   39.193  10595811  1071.613938
1691       Zambia    Africa  2007   42.384  11746035  1271.211593
1692     Zimbabwe    Africa  1952   48.451   3080907   406.884115
1693     Zimbabwe    Africa  1957   50.469   3646340   518.764268
1694     Zimbabwe    Africa  1962   52.358   4277736   527.272182
1695     Zimbabwe    Africa  1967   53.995   4995432   569.795071
1696     Zimbabwe    Africa  1972   55.635   5861135   799.362176
1697     Zimbabwe    Africa  1977   57.674   6642107   685.587682
1698     Zimbabwe    Africa  1982   60.363   7636524   788.855041
1699     Zimbabwe    Africa  1987   62.351   9216418   706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340   693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948   792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563   672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143   469.709298

[1704 rows x 6 columns]

# <1번>

(1) lifeExp 순으로(내림차순) 데이터를 정렬한 후 (※ 순서대로 정렬 구글링! hint.sort_~~) 
(2) lifeExp가 가장 높은 continent를 구하라

In [60]:
ascend = df.sort_values('lifeExp',ascending = False) ; ascend

                country continent  year  lifeExp        pop     gdpPercap
803               Japan      Asia  2007   82.603  127467972  31656.068060
671    Hong Kong, China      Asia  2007   82.208    6980412  39724.978670
802               Japan      Asia  2002   82.000  127065841  28604.591900
695             Iceland    Europe  2007   81.757     301931  36180.789190
1487        Switzerland    Europe  2007   81.701    7554661  37506.419070
670    Hong Kong, China      Asia  2002   81.495    6762476  30209.015160
71            Australia   Oceania  2007   81.235   20434176  34435.367440
1427              Spain    Europe  2007   80.941   40448191  28821.063700
1475             Sweden    Europe  2007   80.884    9031088  33859.748350
767              Israel      Asia  2007   80.745    6426679  25523.277100
801               Japan      Asia  1997   80.690  125956499  28816.584990
539              France    Europe  2007   80.657   61083916  30470.016700
251              Canada  Americas  2007   80.653   33390141  36319.235010
1486        Switzerland    Europe  2002   80.620    7361757  34480.957710
779               Italy    Europe  2007   80.546   58147733  28569.719700
694             Iceland    Europe  2002   80.500     288030  31163.201960
70            Australia   Oceania  2002   80.370   19546792  30687.754730
778               Italy    Europe  2002   80.240   57926999  27968.098170
1103        New Zealand   Oceania  2007   80.204    4115771  25185.009110
1151             Norway    Europe  2007   80.196    4627926  49357.190170
1474             Sweden    Europe  2002   80.040    8954175  29341.630930
669    Hong Kong, China      Asia  1997   80.000    6495918  28377.632190
1367          Singapore      Asia  2007   79.972    4553009  47143.179640
83              Austria    Europe  2007   79.829    8199783  36126.492700
1426              Spain    Europe  2002   79.780   40152517  24835.471660
250              Canada  Americas  2002   79.770   31902268  33328.965070
1091        Netherlands    Europe  2007   79.762   16570613  36797.933320
766              Israel      Asia  2002   79.696    6029529  21905.595140
538              France    Europe  2002   79.590   59925035  28926.032340
599              Greece    Europe  2007   79.483   10706290  27538.411880
...                 ...       ...   ...      ...        ...           ...
613              Guinea    Africa  1957   34.558    2876726    576.267025
626       Guinea-Bissau    Africa  1962   34.488     627820    522.034373
480   Equatorial Guinea    Africa  1952   34.482     216964    375.643123
1347       Sierra Leone    Africa  1967   34.113    2662190   1206.043465
504            Ethiopia    Africa  1952   34.078   20860941    362.146280
3           Afghanistan      Asia  1967   34.020   11537966    836.197138
38               Angola    Africa  1962   34.000    4826015   4269.276742
1669        Yemen, Rep.      Asia  1957   33.970    5498090    804.830455
554              Gambia    Africa  1962   33.896     374020    599.650276
1033         Mozambique    Africa  1957   33.779    7038035    495.586833
948                Mali    Africa  1952   33.685    3838168    452.336981
612              Guinea    Africa  1952   33.609    2664249    510.196492
625       Guinea-Bissau    Africa  1957   33.489     601095    431.790457
1392            Somalia    Africa  1952   32.978    2526994   1135.749842
1346       Sierra Leone    Africa  1962   32.767    2467895   1116.639877
1668        Yemen, Rep.      Asia  1952   32.548    4963829    781.717576
624       Guinea-Bissau    Africa  1952   32.500     580653    299.850319
553              Gambia    Africa  1957   32.065     323150    520.926711
37               Angola    Africa  1957   31.999    4561361   3827.940465
2           Afghanistan      Asia  1962   31.997   10267083    853.100710
192        Burkina Faso    Africa  1952   31.975    4469979    543.255241
1345       Sierra Leone    Africa  1957   31.570    2295678   1004.484437
1032         Mozambique    Africa  1952   31.286    6446316    468.526038
221            Cambodia      Asia  1977   31.220    6978607    524.972183
1           Afghanistan      Asia  1957   30.332    9240934    820.853030
1344       Sierra Leone    Africa  1952   30.331    2143249    879.787736
36               Angola    Africa  1952   30.015    4232095   3520.610273
552              Gambia    Africa  1952   30.000     284320    485.230659
0           Afghanistan      Asia  1952   28.801    8425333    779.445314
1292             Rwanda    Africa  1992   23.599    7290203    737.068595

[1704 rows x 6 columns]

In [61]:
ascend.loc[0,'continent']

'Asia'

# <2번>

Select the first row of data (the first record) from `gapminder`.  
(use three ways)

In [26]:
df.loc[0,]

country      Afghanistan
continent           Asia
year                1952
lifeExp           28.801
pop              8425333
gdpPercap        779.445
Name: 0, dtype: object

In [25]:
df.iloc[0,]

country      Afghanistan
continent           Asia
year                1952
lifeExp           28.801
pop              8425333
gdpPercap        779.445
Name: 0, dtype: object

In [12]:
df.query('index==0')

       country continent  year  lifeExp      pop   gdpPercap
0  Afghanistan      Asia  1952   28.801  8425333  779.445314

# <3번>

 Select the `continent` and `pop` columns of the first 101 records.

In [13]:
df.loc[:100,['continent','pop']]

    continent       pop
0        Asia   8425333
1        Asia   9240934
2        Asia  10267083
3        Asia  11537966
4        Asia  13079460
5        Asia  14880372
6        Asia  12881816
7        Asia  13867957
8        Asia  16317921
9        Asia  22227415
10       Asia  25268405
11       Asia  31889923
12     Europe   1282697
13     Europe   1476505
14     Europe   1728137
15     Europe   1984060
16     Europe   2263554
17     Europe   2509048
18     Europe   2780097
19     Europe   3075321
20     Europe   3326498
21     Europe   3428038
22     Europe   3508512
23     Europe   3600523
24     Africa   9279525
25     Africa  10270856
26     Africa  11000948
27     Africa  12760499
28     Africa  14760787
29     Africa  17152804
..        ...       ...
71    Oceania  20434176
72     Europe   6927772
73     Europe   6965860
74     Europe   7129864
75     Europe   7376998
76     Europe   7544201
77     Europe   7568430
78     Europe   7574613
79     Europe   7578903
80     Europe   7914969
81     Europe   8069876
82     Europe   8148312
83     Europe   8199783
84       Asia    120447
85       Asia    138655
86       Asia    171863
87       Asia    202182
88       Asia    230800
89       Asia    297410
90       Asia    377967
91       Asia    454612
92       Asia    529491
93       Asia    598561
94       Asia    656397
95       Asia    708573
96       Asia  46886859
97       Asia  51365468
98       Asia  56839289
99       Asia  62821884
100      Asia  70759295

[101 rows x 2 columns]

# <4번>

Select the `gdpPercap` column for the last 1000 gdpPercap.

In [15]:
df.iloc[-1000:,5]

704      1164.406809
705      1458.817442
706      1746.769454
707      2452.210407
708       749.681655
709       858.900271
710       849.289770
711       762.431772
712      1111.107907
713      1382.702056
714      1516.872988
715      1748.356961
716      2383.140898
717      3119.335603
718      2873.912870
719      3540.651564
720      3035.326002
721      3290.257643
722      4187.329802
723      5906.731805
724      9613.818607
725     11888.595080
726      7608.334602
727      6642.881371
728      7235.653188
729      8263.590301
730      9240.761975
731     11605.714490
732      4129.766056
733      6229.333562
            ...
1674     1977.557010
1675     1971.741538
1676     1879.496673
1677     2117.484526
1678     2234.820827
1679     2280.769906
1680     1147.388831
1681     1311.956766
1682     1452.725766
1683     1777.077318
1684     1773.498265
1685     1588.688299
1686     1408.678565
1687     1213.315116
1688     1210.884633
1689     1071.353818
1690     1071.613938
1691     1271.211593
1692      406.884115
1693      518.764268
1694      527.272182
1695      569.795071
1696      799.362176
1697      685.587682
1698      788.855041
1699      706.157306
1700      693.420786
1701      792.449960
1702      672.038623
1703      469.709298
Name: gdpPercap, Length: 1000, dtype: float64

# <5번>

df의 continent마다의 lifeExp평균을 출력하시오 (소수점 2째자리에서 반올림하세요.)  
hint. 모르는건 구글링하세요 ^^

In [21]:
grouped=df['lifeExp'].groupby(df['continent'])

In [23]:
round(grouped.mean(),2)

continent
Africa      48.87
Americas    64.66
Asia        60.06
Europe      71.90
Oceania     74.33
Name: lifeExp, dtype: float64

# <6번>
```
df에서 gdpPercap의 최댓값인 행을 query를 이용해 출력하시오
```

In [59]:
count = 0.00
num = 0
ix = 0
for i in df['gdpPercap']:
    num = num + 1
    if count > i:
        count = count
    else:
        count = i
        ix = num
df.query('index == @ix-1')

    country continent  year  lifeExp     pop    gdpPercap
853  Kuwait      Asia  1957   58.033  212846  113523.1329

# <7번>
```
continent가 Asia 이면서 pop가 13000000 초과인 데이터를 추출해주세요
```

In [62]:
data = df.loc[(df['continent']=='Asia') & (df['pop'] > 13000000),] ; data

          country continent  year   lifeExp         pop     gdpPercap
4     Afghanistan      Asia  1972  36.08800    13079460    739.981106
5     Afghanistan      Asia  1977  38.43800    14880372    786.113360
7     Afghanistan      Asia  1987  40.82200    13867957    852.395945
8     Afghanistan      Asia  1992  41.67400    16317921    649.341395
9     Afghanistan      Asia  1997  41.76300    22227415    635.341351
10    Afghanistan      Asia  2002  42.12900    25268405    726.734055
11    Afghanistan      Asia  2007  43.82800    31889923    974.580338
96     Bangladesh      Asia  1952  37.48400    46886859    684.244172
97     Bangladesh      Asia  1957  39.34800    51365468    661.637458
98     Bangladesh      Asia  1962  41.21600    56839289    686.341554
99     Bangladesh      Asia  1967  43.45300    62821884    721.186086
100    Bangladesh      Asia  1972  45.25200    70759295    630.233627
101    Bangladesh      Asia  1977  46.92300    80428306    659.877232
102    Bangladesh      Asia  1982  50.00900    93074406    676.981866
103    Bangladesh      Asia  1987  52.81900   103764241    751.979403
104    Bangladesh      Asia  1992  56.01800   113704579    837.810164
105    Bangladesh      Asia  1997  59.41200   123315288    972.770035
106    Bangladesh      Asia  2002  62.01300   135656790   1136.390430
107    Bangladesh      Asia  2007  64.06200   150448339   1391.253792
227      Cambodia      Asia  2007  59.72300    14131858   1713.778686
288         China      Asia  1952  44.00000   556263527    400.448611
289         China      Asia  1957  50.54896   637408000    575.987001
290         China      Asia  1962  44.50136   665770000    487.674018
291         China      Asia  1967  58.38112   754550000    612.705693
292         China      Asia  1972  63.11888   862030000    676.900092
293         China      Asia  1977  63.96736   943455000    741.237470
294         China      Asia  1982  65.52500  1000281000    962.421380
295         China      Asia  1987  67.27400  1084035000   1378.904018
296         China      Asia  1992  68.69000  1164970000   1655.784158
297         China      Asia  1997  70.42600  1230075000   2289.234136
...           ...       ...   ...       ...         ...           ...
1510       Taiwan      Asia  2002  76.99000    22454239  23235.423290
1511       Taiwan      Asia  2007  78.40000    23174294  28718.276840
1524     Thailand      Asia  1952  50.84800    21289402    757.797418
1525     Thailand      Asia  1957  53.63000    25041917    793.577415
1526     Thailand      Asia  1962  56.06100    29263397   1002.199172
1527     Thailand      Asia  1967  58.28500    34024249   1295.460660
1528     Thailand      Asia  1972  60.40500    39276153   1524.358936
1529     Thailand      Asia  1977  62.49400    44148285   1961.224635
1530     Thailand      Asia  1982  64.59700    48827160   2393.219781
1531     Thailand      Asia  1987  66.08400    52910342   2982.653773
1532     Thailand      Asia  1992  67.29800    56667095   4616.896545
1533     Thailand      Asia  1997  67.52100    60216677   5852.625497
1534     Thailand      Asia  2002  68.56400    62806748   5913.187529
1535     Thailand      Asia  2007  70.61600    65068149   7458.396327
1644      Vietnam      Asia  1952  40.41200    26246839    605.066492
1645      Vietnam      Asia  1957  42.88700    28998543    676.285448
1646      Vietnam      Asia  1962  45.36300    33796140    772.049160
1647      Vietnam      Asia  1967  47.83800    39463910    637.123289
1648      Vietnam      Asia  1972  50.25400    44655014    699.501644
1649      Vietnam      Asia  1977  55.76400    50533506    713.537120
1650      Vietnam      Asia  1982  58.81600    56142181    707.235786
1651      Vietnam      Asia  1987  62.82000    62826491    820.799445
1652      Vietnam      Asia  1992  67.66200    69940728    989.023149
1653      Vietnam      Asia  1997  70.67200    76048996   1385.896769
1654      Vietnam      Asia  2002  73.01700    80908147   1764.456677
1655      Vietnam      Asia  2007  74.24900    85262356   2441.576404
1676  Yemen, Rep.      Asia  1992  55.59900    13367997   1879.496673
1677  Yemen, Rep.      Asia  1997  58.02000    15826497   2117.484526
1678  Yemen, Rep.      Asia  2002  60.30800    18701257   2234.820827
1679  Yemen, Rep.      Asia  2007  62.69800    22211743   2280.769906

[209 rows x 6 columns]

# <8번>
```
위 7번 데이터에서 나라명의 고유한 값이 몇개인지 구해주세요 
ex. Korea , Vietnam , Vietnam 이라면 고유한 값은 Korea와 Vietnam 2개 입니다 ! 
```

In [63]:
len(data.country.unique())

23

# <9번>
```
df에서 위에서 다섯개의 행과 country 열부터 year 열을 같이 추출하세요.
(단, loc 과 iloc모두 이용해서 두 번 추출해주세요.)
```

In [32]:
df.loc[0:4,'country':'year']

       country continent  year
0  Afghanistan      Asia  1952
1  Afghanistan      Asia  1957
2  Afghanistan      Asia  1962
3  Afghanistan      Asia  1967
4  Afghanistan      Asia  1972

In [34]:
df.iloc[0:5,0:3]

       country continent  year
0  Afghanistan      Asia  1952
1  Afghanistan      Asia  1957
2  Afghanistan      Asia  1962
3  Afghanistan      Asia  1967
4  Afghanistan      Asia  1972

# <10번>
```
year가 2000이상인 행의 lifeExp를 100으로 바꿔주세요.
```

In [38]:
df.loc[df['year']>2000,'lifeExp']=100 ; df

          country continent  year  lifeExp       pop    gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333   779.445314
1     Afghanistan      Asia  1957   30.332   9240934   820.853030
2     Afghanistan      Asia  1962   31.997  10267083   853.100710
3     Afghanistan      Asia  1967   34.020  11537966   836.197138
4     Afghanistan      Asia  1972   36.088  13079460   739.981106
5     Afghanistan      Asia  1977   38.438  14880372   786.113360
6     Afghanistan      Asia  1982   39.854  12881816   978.011439
7     Afghanistan      Asia  1987   40.822  13867957   852.395945
8     Afghanistan      Asia  1992   41.674  16317921   649.341395
9     Afghanistan      Asia  1997   41.763  22227415   635.341351
10    Afghanistan      Asia  2002  100.000  25268405   726.734055
11    Afghanistan      Asia  2007  100.000  31889923   974.580338
12        Albania    Europe  1952   55.230   1282697  1601.056136
13        Albania    Europe  1957   59.280   1476505  1942.284244
14        Albania    Europe  1962   64.820   1728137  2312.888958
15        Albania    Europe  1967   66.220   1984060  2760.196931
16        Albania    Europe  1972   67.690   2263554  3313.422188
17        Albania    Europe  1977   68.930   2509048  3533.003910
18        Albania    Europe  1982   70.420   2780097  3630.880722
19        Albania    Europe  1987   72.000   3075321  3738.932735
20        Albania    Europe  1992   71.581   3326498  2497.437901
21        Albania    Europe  1997   72.950   3428038  3193.054604
22        Albania    Europe  2002  100.000   3508512  4604.211737
23        Albania    Europe  2007  100.000   3600523  5937.029526
24        Algeria    Africa  1952   43.077   9279525  2449.008185
25        Algeria    Africa  1957   45.685  10270856  3013.976023
26        Algeria    Africa  1962   48.303  11000948  2550.816880
27        Algeria    Africa  1967   51.407  12760499  3246.991771
28        Algeria    Africa  1972   54.518  14760787  4182.663766
29        Algeria    Africa  1977   58.014  17152804  4910.416756
...           ...       ...   ...      ...       ...          ...
1674  Yemen, Rep.      Asia  1982   49.113   9657618  1977.557010
1675  Yemen, Rep.      Asia  1987   52.922  11219340  1971.741538
1676  Yemen, Rep.      Asia  1992   55.599  13367997  1879.496673
1677  Yemen, Rep.      Asia  1997   58.020  15826497  2117.484526
1678  Yemen, Rep.      Asia  2002  100.000  18701257  2234.820827
1679  Yemen, Rep.      Asia  2007  100.000  22211743  2280.769906
1680       Zambia    Africa  1952   42.038   2672000  1147.388831
1681       Zambia    Africa  1957   44.077   3016000  1311.956766
1682       Zambia    Africa  1962   46.023   3421000  1452.725766
1683       Zambia    Africa  1967   47.768   3900000  1777.077318
1684       Zambia    Africa  1972   50.107   4506497  1773.498265
1685       Zambia    Africa  1977   51.386   5216550  1588.688299
1686       Zambia    Africa  1982   51.821   6100407  1408.678565
1687       Zambia    Africa  1987   50.821   7272406  1213.315116
1688       Zambia    Africa  1992   46.100   8381163  1210.884633
1689       Zambia    Africa  1997   40.238   9417789  1071.353818
1690       Zambia    Africa  2002  100.000  10595811  1071.613938
1691       Zambia    Africa  2007  100.000  11746035  1271.211593
1692     Zimbabwe    Africa  1952   48.451   3080907   406.884115
1693     Zimbabwe    Africa  1957   50.469   3646340   518.764268
1694     Zimbabwe    Africa  1962   52.358   4277736   527.272182
1695     Zimbabwe    Africa  1967   53.995   4995432   569.795071
1696     Zimbabwe    Africa  1972   55.635   5861135   799.362176
1697     Zimbabwe    Africa  1977   57.674   6642107   685.587682
1698     Zimbabwe    Africa  1982   60.363   7636524   788.855041
1699     Zimbabwe    Africa  1987   62.351   9216418   706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340   693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948   792.449960
1702     Zimbabwe    Africa  2002  100.000  11926563   672.038623
1703     Zimbabwe    Africa  2007  100.000  12311143   469.709298

[1704 rows x 6 columns]

# <추가문제>

**Exercise 8**: Who produces more good rated movies, Steven Spielberg or James Cameron? Select the `director_name` column, but only  when said `director_name` is one of those two options, _and_ the `imdb_score` column is greater than or equal to 8.0.

In [4]:
movie = pd.read_csv('movie.csv')

In [21]:
movie_1 = movie.loc[((movie['director_name']=='Steven Spielberg') | (movie['director_name']=='James Cameron')) &
           (movie['imdb_score'] >= 8.0),]
count = movie_1['director_name'].value_counts()
if count['Steven Spielberg'] > count['James Cameron']:
    print('Steven Spielberg')
else:
    print('James Cameron')

Steven Spielberg